@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sevissrs {
        .btn-sm {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 0.875rem;
            line-height: 150%;
        }

        .btn-md {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            font-size: 1rem;
            line-height: 150%;
        }

        .btn-lg {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.25rem;
            line-height: 150%;
        }
    }
}