@import "tailwindcss";
@import "./theme.css";

/*
================== 
BOX
==================
*/

.box.clickable {
  cursor: pointer;
}

.box.clickable:hover:not([disabled]) {
  opacity: 0.75;
}

.box.clickable:active:not([disabled]) {
  opacity: 0.5;
}

/*
================== 
BUTTON
==================
*/

@utility btn {
  @apply font-semibold flex rounded justify-center items-center select-none overflow-hidden text-center border-none;
  @apply not-[.clickable]:pointer-events-none;
  @apply focus:outline-hidden;
  @apply disabled:cursor-default disabled:bg-disabled disabled:text-disabled-contrast;
}

@utility btn-text {
  @apply bg-transparent;
}

@utility btn-outlined {
  @apply border border-solid bg-transparent;
}

@utility btn-circle {
  @apply p-0 !rounded-full;
}

@utility btn-* {
  /* sizing */
  padding-left: --value(--btn-pl-*);
  padding-right: --value(--btn-pr-*);
  padding-top: --value(--btn-pt-*);
  padding-bottom: --value(--btn-pb-*);
  font-size: --value(--btn-text-*);
  line-height: --value(--btn-leading-*);

  &.btn-circle {
    width: --value(--btn-circle-*);
    height: --value(--btn-circle-*);
  }

  /* color */
  border-color: --value(--color-*);
  color: --value(--color-*);
  
  &.btn-filled:not(:disabled) {
    background-color: --value(--color-*);
    color: --value(--color-*-contrast);
  }

  &.btn-subtle:hover {
    @apply bg-[--value(--color-*)]/25;
  }
}

/*
================== 
CARD
==================
*/

@utility card {
  @apply block rounded overflow-hidden bg-white relative p-xl shadow filter;
}

@utility card-* {
  @apply bg-[--value(--color-*)] text-[--value(--color-*-contrast)];
}

/*
================== 
INPUT
==================
*/

.input-field {
  & .input-group {
    @apply border border-solid overflow-hidden;
  }

  & input {
    @apply text-sm leading-5 rounded block w-full p-md bg-transparent;
  }

  & label {
    @apply block mb-sm font-medium leading-none;
  }

  &.input-field-error {
    & .input-group {
      @apply border-error text-error;
    }
  }
}

@utility input-* {
  &.input-filled {
    & .input-group {
      @apply bg-[--value(--color-*)]/25 text-[--value(--color-*)] border-[--value(--color-*)] ring-[--value(--color-*)];
    }
  }

  &.input-outlined {
    & .input-group {
      @apply focus-within:border-[--value(--color-*)] focus-within:ring-[--value(--color-*)];
    }
  }

  &.input-field-error {
    & .input-group {
      @apply ring-error;
    }
  }

  & .input-field-error {
    & .input-group:focus-within {
      @apply border-error;
    }
  }
}

/*
================== 
TEXTAREA
==================
*/

.textarea-field {
  &  > textarea {
    @apply block p-sm w-full text-sm leading-tight bg-white rounded border;
  }
}

@utility textarea-* {
  @apply bg-white text-black focus-within:border-[--value(--color-*)] focus-within:ring-[--value(--color-*)];
}

/*
================== 
PROGRESS
==================
*/

.progress {
  @apply w-full rounded-full;
}

@utility progress-* {
  @apply h-[--value(--progress-h-*)] text-[--value(--color-*-contrast)];
  
  & .progress-fill {
    @apply h-[--value(--progress-h-*)] bg-[--value(--color-*)];
  }
}

@utility progress-bg-* {
  @apply bg-[--value(--color-*)];
}

/*
================== 
SWITCH
==================
*/

.switch-toggle {
  @apply relative bg-gray-lightest rounded-full peer-focus:outline-hidden;
  @apply after:bg-white after:bg-none absolute rounded-full top-0.5 h-5 w-5;

  inset-inline-start: 2px;
}

@utility switch-* {
  & .peer:enabled:checked ~ .switch-toggle {
    @apply bg-[--value(--color-*)];
  }
}
