@theme {
    /*
    ================== 
    COLORS
    ==================
    */  
    --color-primary-darkest: #e50d06;
    --color-primary-darker: #ed4125;
    --color-primary-dark: #f45f3f;
    --color-primary: #ff0000;
    --color-primary-contrast: #ffffff;
    --color-primary-light: #ff9073;
    --color-primary-lighter: #ffa78e;
    --color-primary-lightest: #ffdbd8;
  
    --color-gray-darkest: #121212;
    --color-gray-darker: #282828;
    --color-gray-dark: #3f3f3f;
    --color-gray: #575757;
    --color-gray-light: #717171;
    --color-gray-lighter: #8b8b8b;
    --color-gray-lightest: #a5a5a5;
  
    --color-error-darkest: var(--color-red-900);
    --color-error-darker: var(--color-red-700);
    --color-error-dark: var(--color-red-600);
    --color-error: var(--color-red-400);
    --color-error-light: var(--color-red-200);
    --color-error-lighter: var(--color-red-100);
    --color-error-lightest: var(--color-red-100);
  
    --color-disabled: #a5a5a5;
    --color-disabled-contrast: #575757;
  
    /*
    ================== 
    SPACING
    ==================
    */ 
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 0.75rem;
    --spacing-lg: 1rem;
    --spacing-xl: 1.5rem;
  
    /*
    ================== 
    RADIUS
    ==================
    */ 
    --radius: 0.5rem;
  
    /*
    ================== 
    BUTTON
    ==================
    */
  
    /* btn-xs */
    --btn-pl-xs: 0.75rem;
    --btn-pr-xs: 0.75rem;
    --btn-pt-xs: 0.5rem;
    --btn-pb-xs: 0.5rem;
    --btn-text-xs: 0.75rem;
    --btn-leading-xs: 1rem;
    --btn-circle-xs: 1.5rem;
  
    /* btn-sm */
    --btn-pl-sm: 0.75rem;
    --btn-pr-sm: 0.75rem;
    --btn-pt-sm: 0.5rem;
    --btn-pb-sm: 0.5rem;
    --btn-text-sm: 0.875rem;
    --btn-leading-sm: 1.25rem;
    --btn-circle-sm: 2.5rem;
  
    /* btn-md */
    --btn-pl-md: 1.25rem;
    --btn-pr-md: 1.25rem;
    --btn-pt-md: 0.625rem;
    --btn-pb-md: 0.625rem;
    --btn-text-md: 0.875rem;
    --btn-leading-md: 1.25rem;
    --btn-circle-md: 3.5rem;
  
    /* btn-lg */
    --btn-pl-lg: 1.25rem;
    --btn-pr-lg: 1.25rem;
    --btn-pt-lg: 0.75rem;
    --btn-pb-lg: 0.75rem;
    --btn-text-lg: 1rem;
    --btn-leading-lg: 1.5rem;
    --btn-circle-lg: 4.5rem;
  
    /* btn-xl */
    --btn-pl-xl: 1.5rem;
    --btn-pr-xl: 1.5rem;
    --btn-pt-xl: 0.875rem;
    --btn-pb-xl: 0.875rem;
    --btn-text-xl: 1rem;
    --btn-leading-xl: 1.5rem;
    --btn-circle-xl: 5.5rem;
  
    /*
    ================== 
    PROGRESS
    ==================
    */
    --progress-h-xs: 0.25rem;
    --progress-h-sm: 0.375rem;
    --progress-h-md: 0.625rem;
    --progress-h-lg: 1rem;
    --progress-h-xl: 1.5rem;
  }